<div class="container">
    <div class="jumbotron">
  <div class="row">
    <div class="column" >
        <table>
            <thead aria-colspan="3" class="thead-dark">
                <tr>
      <h5><div class="panel-heading">Company Information</div></h5>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>COMPANY :</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Urway</td>

    </tr>
    <tr>
         <td>TELEPHONE #:</td>

         <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(437) 555-1439</td>
    </tr>
    <tr>
        <td>ADDRESS:</td>

        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21 Jill Cresent Brampton</td>
        </tr>
        <tr>
            <td>
         EMAIL:</td>

        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;compurway@gmail.com</td>
    </tr>
    </tbody>
    </table>
      <br>
      <br>
      <h5> EMAIL Us</h5>
      <br>



      <label>First Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txtFirstName" size="25" tabindex="1" type="text"><br><br>
      <label>Last Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txtlastName" id = "grade" size="25" tabindex="2" type="text"><br><br>
      <label>Telephone #:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txttelephone" id = "num" size="25" tabindex="3" type="text"><br><br>
      <label>Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="email" size="25" tabindex="4" type="email"><br><br>
      <label>Message:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea cols="50" name="TextArea1" rows="7" style="height: 76px;width:42%"></textarea><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  href="/home"><input type="button" id="regist" value="Send Email" onclick=""size="20"><input></a>


    </div>
    &nbsp;
    <div class="column" >
     <h5>CONTACT THE TEAM</h5>
     <br>

     Dirk Brandon Lapitan:  Project Manager<br>
     Email:&nbsp;relridge@centennialcollege.ca<br>
     Telephone:&nbsp;225-543-1234<br>
     <br>

   Richard Elridge Software Developer<br>
  Email:&nbsp;relridge@centennialcollege.ca<br>
  Telephone:&nbsp;425-234-1234<br>
  <br>

  Thiago Luiz Batista:  web designer<br>
  Email:&nbsp;Thiago@centennialcollege.ca<br>
  Telephone:&nbsp;555-234-1234<br>
  <br>

  Manu Eldo: generalist programmer<br>
  Email:&nbsp;Eldo@centennialcollege.ca<br>
  Telephone:&nbsp;725-234-1234<br>
  <br>

  Noushig Chitjian:  Generalist Programmer<br>
  Email:&nbsp;Chitjian@centennialcollege.ca<br>
  Telephone:&nbsp;725-234-1234<br>


  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
