<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<main class="ourCarousel">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>    
    </ol>

    <div class="carousel-inner">

        <div class="carousel-item active">
        <img id="carousel" src="https://i.imgur.com/TG87tr0.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Hi, I'm Aiturgan Suiunbai Kyzy</h5>
            <p>I'm a Junior Web Developer from Central Asia.<br>
                I study Software Engineering Technology at Centennial College in Toronto.<br>
                I love ethnic music and enjoy nature.</p>
        </div>
        </div>

        <div class="carousel-item">
        <img id="carousel" src="https://i.imgur.com/2bmdMA8.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Hello, this is Dirk Brandon Lapitan</h5>
            <p>I'm an international student studying Software Engineering Technology at Centennial College.<br>
                I'm from the Philippines and I like playing computer games.<br>
                Someday, I'm gonna be a software developer of sort.</p>
        </div>
        </div>

        <div class="carousel-item">
        <img id="carousel" src="https://i.imgur.com/j99On6X.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Hello, I'm Manu Eldo</h5>
            <p>I'm a Software Engineering student at Centennial College, from southern India.<br>
                I like going for walks and travelling and I enjoy surfing the internet.</p>
        </div>
        </div>

        <div class="carousel-item">
        <img id="carousel" src="https://i.imgur.com/SrOtUgg.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Hi, my name is Noushig Chitjian.</h5>
            <p>I love playing Basketball and listening to music.<br>
                Learning how to make the code more creative is my passion.<br>
                Driving car is my meditation</p>
        </div>
        </div>

        <div class="carousel-item">
        <img id="carousel" src="https://i.imgur.com/0aXRVGw.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>I'm Richard Elridge</h5>
            <p>I'm from Jamaica and currently I'm studying Software Engineering at Centennial College.<br>
                I'm a programming enthusiast, a very devotional person and I love playing sports.</p>
        </div>
        </div>

        <div class="carousel-item">
        <img id="carousel" src="https://i.imgur.com/KFhUXgV.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Hi there, my name Thiago Batista.</h5>
            <p>I'm a media designer from Brazil living currently in Toronto.<br>
                Passionate about creativity in all it's forms.<br>
                Here are some of the things that inspire me during my creative process.</p>
        </div>
        </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    </div>
</main>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>