<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron ">
      <div class="row d-flex justify-content-center">
        <div class="column" >
            <table>
              <thead aria-colspan="3" class="thead-dark">
                <tr>
                  <h4><div class="panel-heading">COMPANY INFORMATION</div></h4>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><b>COMPANY</b> :</b></td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Urway Survey Software</td>
                </tr>

                <tr>
                    <td><b>TELEPHONE #</b>:</td>               
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(437) 555-1439</td>
                </tr>

                <tr> 
                  <td><b>ADDRESS </b>:</td>            
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21 Jill Cresent Brampton</td>
                </tr>
                
                <tr>
                  <td><b>EMAIL </b>:</td>            
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;compurway@gmail.com</td>
                </tr>          
              </tbody>

            </table>

              <br>
              <br>
              <h4> EMAIL US</h4>
              <br>   
              
              <label>First Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txtFirstName" size="25" tabindex="1" type="text"><br><br>
              <label>Last Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txtlastName" id = "grade" size="25" tabindex="2" type="text"><br><br>
              <label>Telephone #:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txttelephone" id = "num" size="25" tabindex="3" type="text"><br><br>
              <label>Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="email" size="25" tabindex="4" type="email"><br><br>
              <label>Message:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea cols="50" name="TextArea1" rows="7" style="height: 76px;width:42%"></textarea><br><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a  href="/home"><input class="btn btn-lg btn-outline-dark" type="button" id="regist" value="Send Email" onclick=""size="20"></a>            
        </div>

        &nbsp;
        <div class="column" >
          <h4>CONTACT THE TEAM</h4>
          <br>

          <b>Aiturgan Suiunbai kyzy</b>, Generalist Programmer<br>
          Email:&nbsp;A.Kyzy@centennialcollege.ca<br>
          Telephone:&nbsp;225-543-1234<br>
          <br> 
        
          <b>Dirk Brandon Lapitan</b>, Project Manager<br>
          Email:&nbsp;D.Lapitan@centennialcollege.ca<br>
          Telephone:&nbsp;225-543-1234<br>
          <br>     
        
          <b>Manu Eldo</b>,  Generalist Programmer<br>
          Email:&nbsp;M.Eldo@centennialcollege.ca<br>
          Telephone:&nbsp;725-234-1234<br>
          <br>
      
          <b>Noushig Chitjian</b>, Generalist Programmer<br>
          Email:&nbsp;N.Chitjian@centennialcollege.ca<br>
          Telephone:&nbsp;725-234-1234<br>
          <br>

          <b>Richard Elridge</b>,  Software Developer<br>
          Email:&nbsp;R.Elridge@centennialcollege.ca<br>
          Telephone:&nbsp;425-234-1234<br>
          <br>

          <b>Thiago Luiz Batista</b>,  Web Designer<br>
          Email:&nbsp;T.Batista@centennialcollege.ca<br>
          Telephone:&nbsp;555-234-1234<br>
          <br>

        </div>        
      </div>
    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>